#formself
  =simple_form_for([@post,@post.comments.build]) do |f|
    .form-group
      = f.input :content, input_html: { class: 'form-control',rows:"10"}
    .form-group
      = f.button :submit, class: "btn-default"