#welcome
  .panel.panel-default
    .panel-header
      .col-md-4
      .col-md-4
        Fertőd város közéleti foruma.
    .panel-body
      %p
      Napi kérdesek,válaszok a várost és a lakóközösségét érintő kérdesekben. Szerkessze Ön a híreket,vagy csak mondja el a véleményét az adott témában. Itt nincs cenzura,bármit leirhat ami a jóizlés határát nem súrolja. Minden témát inditónak és kommentelőnek meg fog jelenni az email cime a hozzászólása mellett, azért hogy névtelenül ne lehessen senkinek sem hozzászólni.Nincs lehetősége a felhasználóknak utólag szerkeszteni,vagy törölni a bejegyzést, ezért mindenki olyat véleményt publikáljon amit másnap nem akar majd megváltoztatni. Bármilyen témában inditható úgynevezett topic, legyen az sport, közélet vagy egyéni észrevétel a várossal kapcsolatban. A cikkek és hozzászólások idörendi sorrendben jelennek meg, mindig a legfrisebb a lap tetején. Remélem beváltja a forum a hozzáfűzött reményeket és minél többen fogják használni.
      .row
        .col-md-4
        .col-md-8
          %h1 Jó szórakozást kívánok az oldalhoz!
      .row
        .col-md-5
        .col-md-4
          %br
          =link_to "Belepes a forumra",posts_path,class:".btn btn-default"
          %br
      .row
        %br
    .panel-footer
      Az oldalon megjelenő irásokért a weboldal üzemeltetője semmilyen felelőséget nem vállal. Minden bejegyzésért a bejegyzést letrehozó személy a felelős!