#welcome
  .panel.panel-default
    .panel-header
      .row
      .col-md-4-offset
        Fertod varos kozeleti foruma.
    .panel-body
      Napi kerdesek,valaszok a varost es lakoit erinto kerdesekben.Szerkessze on a hireket,vagy csak szoljon hozza a felmerult kerdesekhez.Itt nincs cenzura,barmit leirhat ami a joizles hatarat nem surolja.Minden temat inditonak es kommentelonek meg fog jelenni az email cime a kommentje mellett azert hogy aki ir, az vallalja a velemenyet is.Nincs lehetoseg utolag szerkeszteni,vagy torolni a bejegyzest, ezert mindenki olyat velemenyt irjon amit masnap nem akar megvaltoztatni.Barmilyen tamaban indithato ugynevezett topic, legyen az sport,kozelet vagy egyeni eszrevetel a varossal kapcsolatban.A cikkek es a hozzaszolasok idorendi sorrendben jelennek meg, mindig a legfrisebb a lap tetejen.Remelem bevaltja a forum a hozzafuzott remenyeket es minel tobben fogjak hasznalni a fertodiek kozul.
      .row
      .col-md-3
      .col-md-6
        %h1 Jo szorakozast kivanok az oldalhoz!
      .row
      .col-md-5
      .col-md-4
        %br /
        =link_to "Belepes a forumra",posts_path,class:".btn btn-default"
        %br /
    .panel-footer
      Az oldalon megjeleno irasokert az uzemelteto semmilyen feleloseget nem vallal.Minden bejegyzesert a bejegyzest letrehozo szemely a felelos.