#pages
  .panel.panel-default
    .panel-header
      %h2 Forum bejegyzések
    .panel-body
      -@posts.each do |post|
        %h2=link_to post.title,post_path(post)
        .date
          Publikálta:
        .small=post.user.email
        =time_ago_in_words(post.created_at)
        %p=truncate(post.content, :length => 500)
      %nav
        %ul.pager
          %li
            = will_paginate @posts
