#pages
  .panel.panel-default
    .panel-header
      %h2 Aktuális hírek
    .panel-body
      -@posts.each do |post|
        %h2=link_to post.title,post_path(post)
        - if post.image.present?
          =image_tag post.image.url(:medium),id:"smallimage"
        .date
          %span.glyphicon.glyphicon-pencil{"aria-hidden" => "true"}
          Publikálta:
          .small
            =post.user.email
            =time_ago_in_words(post.created_at)
          %p=truncate(post.content, :length => 500)
          =post.comments.count
          hozzászolás a cikkhez
        %hr
      %nav
        %ul.pager
          %li
            = will_paginate @posts
