$green2: #12501B;
$yellow: #FBFFA6;
$green: #39CF29;
$withe:#fefefe;

#logo{
  width: 100px;
  border: 2px solid;
  border-color: $green;
}
#title{
  margin-left: 15px;
  font-size: 36px;
  font-weight: bold;
  color: $withe;
  font-style: italic;


    text-decoration: none;


}
.navbar-nav > li > a {
  border: 2px solid;
  border-color: $green;
}
h2{
  a {
    color: $green;
  }
}
.bg{
  background-image: url("../../../vendor/assets/kastely.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
#login{
  .panel.panel-default {
    background-color: $withe;
    .btn{
      padding: 10px;
      border-radius: 10px;
      border: 1px solid;
      background-color: $green2;
      color: white;
    }

  }
}
#signup{
  .panel.panel-default {
    background-color: $withe;
    .btn{
      padding: 10px;
      border-radius: 10px;
      border: 1px solid;
      background-color: $green2;
      color: white;
    }

  }
}

#edit {
  .panel.panel-default {
    background-color: $withe;
    margin: 10px;
    .btn {
      padding: 10px;
      border-radius: 10px;
      border: 1px solid;
      background-color: $green2;
      color: white;
    }

  }
}
.btn.btn-default.navbar-btn{
  color: $green2;

}
hr{
  border-color: $green2;
}




