// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
$green2: #12501B;
$yellow: #FBFFA6;
#welcome{
  .panel{
      width: auto;
      margin: 16px;
      opacity: 0.75;
    .panel-header{
      background-color: $green2;
      color: white;
      height: 50px;
      padding: 10px;
      font-size: 24px;
      text-align: center;
    }
    .panel-body{
       background-color: $yellow;
       font-size: 18px;
      font-weight: bold;

     .btn-default{
       padding: 20px;
       border-radius: 10px;
       border: 1px solid;
       background-color: $green2;
       color: white;

     }

    }
    .panel-footer{
      background-color: $green2;
      color: white;
      font-size: 18px;
      font-weight: bold;


    }

  }

}