!!!
%html
%head
  %title Forum
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
%body.bg
  %nav.navbar.navbar-inverse
    .container-fluid
      .navbar-header
        =link_to image_tag("fertod.jpg",id:"logo"), root_path
        =link_to "Fertőd közösségi hírportál",root_path, id: "title"
      .navbar-brand
      -if user_signed_in?
        %ul.nav.navbar-nav.navbar-right
          %li=link_to "Új téma indítása",new_post_path,class:"btn btn-default navbar-btn"
          %li=link_to "Az összes bejegyzés", posts_path, class:"btn btn-default navbar-btn"
          %li=link_to "Saját fiók",edit_user_registration_path,class:"btn btn-default navbar-btn"
          %li=link_to "Kijelentkezést",destroy_user_session_path, method: :delete, class:"btn btn-default navbar-btn"
      -else
        %ul.nav.navbar-nav.navbar-right
          %li= link_to "Belépés Facebook fiókkal", user_omniauth_authorize_path(:facebook),class:"btn btn-default navbar-btn"
          %li=link_to "Új téma indítása",new_post_path, class:"btn btn-default navbar-btn"
          %li=link_to "Az összes bejegyzés", posts_path, class:"btn btn-default navbar-btn"
          %li=link_to "Bejelentkezés",new_user_session_path,class:"btn btn-default navbar-btn"
          %li=link_to "Regisztráció",new_user_registration_path,class:"btn btn-default navbar-btn"
  .container
    -flash.each do |name,msg|
      =content_tag :div,msg,class:"alert alert-info"
  =yield